 body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: black;
}

#toolbar{
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    height: 70px;
    background-color: #DED9E2;
}

#titles, #tools{
    display: flex;
    flex-direction: row;
}

#titles *{
    padding-right: 10px;
}